
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log


# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace


# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore
docs/**

node_modules/
ios/pods/
otvplayer-0.6*.4/android/libs/*.aar
otvplayer-0.6*.4/web/libs
otvplayer-0.6*.4/ios/Pods
otvplayer-0.7*.4/android/libs/*.aar
otvplayer-0.7*.4/web/libs
otvplayer-0.7*.4/ios/Pods
otvplayer-0.7*.4/ios/libs
dist/
temp/
